/* This is just an example.  You shouldn't do this. */
#alexpic-hello
{
  color: red ! important;
}
#alexpic-toolbar-button
{
  list-style-image: url("chrome://alexpic/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#alexpic-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #alexpic-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #alexpic-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
#o_progress{	
	display:none;
}

